#textdomain wesnoth-Antar

# fire overlay

{OVERLAY                 *^Fy ../halo/flame-burst-1.png:200/halo/flame-burst-2.png:200,../halo/flame-burst-3.png:200}
{TERRAIN_BASE            *^Fy                                                             forest/deciduous-fall-tile}


{OVERLAY                 *^Fyy                                              ../terrain/animated-fire/animated-fire-3}


{OVERLAY                 *^Fyyy ../terrain/animated-fire/animated-fire-1.png:200/terrain/animated-fire/animated-fire-2.png:200,../terrain/animated-fire/animated-fire-3.png:200,../terrain/animated-fire/animated-fire-4.png:200,../terrain/animated-fire/animated-fire-5.png:200,../terrain/animated-fire/animated-fire-6.png:200}

#####################################################################################################################

# scenery overlay

{OVERLAY *^Y1  ../terrain/interieur_1}
{OVERLAY *^Y2  ../terrain/burial}
{OVERLAY *^Y3  ../terrain/wood-pillar}
{OVERLAY *^Y5  ../terrain/firewood_lr_1}
{OVERLAY *^Y6  ../terrain/firewood_lr_2}
{OVERLAY *^Y7  ../terrain/skulls}
{OVERLAY *^Y8  ../terrain/lr_things_2}
{OVERLAY *^Y9  ../terrain/lr_things_3}
{OVERLAY *^Y10 ../terrain/lr_things_4}
{OVERLAY *^Y11 ../terrain/lr_things_5}
{OVERLAY *^Y12 ../terrain/lr_things_6}
{OVERLAY *^Y13 ../terrain/lr_things_7}
{OVERLAY *^Y14 ../terrain/lr_things_8}
{OVERLAY *^Y15 ../terrain/larger_cage}
{OVERLAY *^Y22 ../terrain/rubble5}                                        ### used in 01
{OVERLAY *^Y23 ../terrain/rubble6}                                        ### used in 01
{OVERLAY *^Y24 ../terrain/rubble7}                                        ### used in 01
{OVERLAY *^Y25 ../terrain/underwater_rock}                                ### used in 01
{OVERLAY *^Y26 ../terrain/rubble8}                                        ### used in 01
{OVERLAY *^Y27 ../terrain/rubble9}                                        ### used in 01
{OVERLAY *^Y28 ../terrain/well-small}                                     ### used in 01 ???

#####################################################################################################################

#####################################################################################################################

# village by Zebulon

{OVERLAY *^V20 ../terrain/human-village_188_by_zebulon}                                                                                    ### used in Attack of the Undead
{OVERLAY *^V25 ../terrain/village/human-city3}
{OVERLAY *^V26 ../terrain/village/human-city-ruin3}
{OVERLAY *^V27 ../terrain/ruined_chateau}                                                                                                  ### used in Lord Othar

#####################################################################################################################

# chasm

{TERRAIN_BASE            Qxe^1                                                       cave/earthy-floor}                                    ### used in Revenge
{TERRAIN_BASE            Qxe^3                                                               swamp/mud}                                    ### used in Revenge
{TERRAIN_BASE            Qxe^5                                                             frozen/snow}                                    ### used in Dwarven Pass
{TERRAIN_BASE            Qxe^6                                                              frozen/ice}                                    ### used in Dwarven Pass

#####################################################################################################################

# brazier + light brazier

{OVERLAY *^yyB ("../items/brazier")}
{OVERLAY *^yyLB ("../items/brazier-lit1.png:140,../items/brazier-lit2.png:140,../items/brazier-lit3.png:140,../items/brazier-lit4.png:140,../items/brazier-lit5.png:140,../items/brazier-lit6.png:140,../items/brazier-lit7.png:140,../items/brazier-lit8.png:140")}

#####################################################################################################################

# prisongate

{OVERLAY_P         *^yyP/                                      120      "../scenery/gate-rusty-se"}                                       ### used in The Dwarves
{OVERLAY_P         *^yyP\                                      120      "../scenery/gate-rusty-sw"}                                       ### used in The Dwarves

#####################################################################################################################

# woodendoor

{OVERLAY_P         Ur^y/W1                                      120      "../terrain/wooden-door-se"}
{OVERLAY_P         Ur^y/W2                                      120      "../terrain/wooden-door-se-open"}
{OVERLAY_P         Ur^y\W1                                      120      "../terrain/wooden-door-sw"}
{OVERLAY_P         Ur^y\W2                                      120      "../terrain/wooden-door-sw-open"}

#####################################################################################################################

