#textdomain wesnoth-Antar

#for Antar on level three

#define ABILITY_ALLIED_LEADERSHIP_LEVEL_3
	[leadership]
		id=allied_leadership
		value=75
		cumulative=no
		name= _ "allied leadership"
		description= _ "Allied Leadership:
This unit can lead friendly units that are next to it, making them fight better.

Adjacent friendly units of lower level will do more damage in battle. When a unit adjacent to, of a lower level than, and allied to a unit with Allied Leadership engages in combat, its attacks do 25% more damage times the difference in their levels."
		affect_self=no
		affect_allies=yes
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
			[filter]
				level=0
			[/filter]
		[/affect_adjacent]
	[/leadership]
	[leadership]
		id=allied_leadership
		value=50
		cumulative=no
		affect_self=no
		affect_allies=yes
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
			[filter]
				level=1
			[/filter]
		[/affect_adjacent]
	[/leadership]
	[leadership]
		id=allied_leadership
		value=25
		cumulative=no
		affect_self=no
		affect_allies=yes
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
			[filter]
				level=2
			[/filter]
		[/affect_adjacent]
	[/leadership]
#enddef

##################for goblin assasin

#define ABILITY_MOUNTAINAMBUSH
	[hides]
		id=mountainambush
		name= _ "mountain ambush"
		name_inactive= _ " mountain ambush"
		description= _ "Mountain Ambush:
This unit can hide in mountains and hills, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in mountains or hills, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
		description_inactive= _ "Ambush:
This unit can hide in forest, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in mountains or hills, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
		affect_self=yes
		[filter_self]
			[filter_location]
				terrain=At,Hd,Hh,Ds,Ha,Md,Mm,Ms
			[/filter_location]
		[/filter_self]
	[/hides]
#enddef


#####################for goblin kamikaze circle too

#define ABILITY_I8KAMIKAZE
	[dummy]
		id=i8 kamikaze
		name= _ "kamikaze"
		description= _ "Kamikaze: this unit always hits a target when attacking, but it dies instantly."
	[/dummy]
[/abilities]

[event]
name=attack_end
first_time_only=no
[filter]
		ability=i8 kamikaze
		x,y=$x1,$y1
[/filter]
[kill]
x,y=$x1,$y1
animate=no
[/kill]
[/event]

[+abilities]
#enddef




#define WEAPON_SPECIAL_CIRCLE
	[chance_to_hit]
		id=circle
		name= _ "always hits"
		description= _ "always hits:
This attack always has a 100% chance to hit"
		value=100
		cumulative=no
	[/chance_to_hit]
#enddef

