#textdomain wesnoth-Antar

#define GET LOOSERS_GOLD SIDE
	[event]
		name=die
		[filter]
			side={SIDE}
			canrecruit=yes
		[/filter]
		[store_gold]
			side={SIDE}
			variable=looser_gold
		[/store_gold]
		{VARIABLE warchest_x $x1}
		{VARIABLE warchest_y $y1}
		{ASoR_SCENERY (warchest-closed.png) ($warchest_x) ($warchest_y)}
		{ASoR_DELAY 800}
		{ASoR_PHONO (open-chest.wav)}
		[remove_item]
			x=$x1
			y=$y1
			image="scenery/warchest-closed.png"
		[/remove_item]
		{ASoR_SCENERY (warchest-open.png) ($warchest_x) ($warchest_y)}
		[if]
			[variable]
				name=looser_gold
				less_than=1
			[/variable]
			[then]
				[if]
					[variable]
						name=second_unit.side
						equals=1
					[/variable]
					[then]
						[chat]
							speaker= _ "Gameplay"
							message= _ "The enemies warchest is empty. You gain no gold."
						[/chat]
					[/then]
					[else]
						[chat]
							speaker= _ "Gameplay"
							message= _ "There is one piece of gold in the enemies warchest. Side $second_unit.side gains no gold."
						[/chat]
					[/else]
				[/if]
			[/then]
			[else]
				[if]
					[variable]
						name=looser_gold
						equals=1
					[/variable]
					[then]
						[if]
							[variable]
								name=second_unit.side
								equals=1
							[/variable]
							[then]
								[chat]
									speaker= _ "Gameplay"
									message= _ "There is one piece of gold in the enemies warchest. You gain $looser_gold pieces of gold."
								[/chat]
							[/then]
							[else]
								[chat]
									speaker= _ "Gameplay"
									message= _ "There is one piece of gold in the enemies warchest. Side $second_unit.side gains $looser_gold pieces of gold."
								[/chat]
							[/else]
						[/if]
					[/then]
					[else]
						[if]
							[variable]
								name=looser_gold
								greater_than=1
							[/variable]
							[then]
								[if]
									[variable]
										name=second_unit.side
										equals=1
									[/variable]
									[then]
										[chat]
											speaker= _ "Gameplay"
											message= _ "There is some gold in the enemies warchest. You gain $looser_gold pieces of gold."
										[/chat]
									[/then]
									[else]
										[chat]
											speaker= _ "Gameplay"
											message= _ "There is some gold in the enemies warchest. Side $second_unit.side gains $looser_gold pieces of gold."
										[/chat]
									[/else]
								[/if]
							[/then]
						[/if]
					[/else]
				[/if]
				[gold]
					side=$second_unit.side
					amount=$looser_gold
				[/gold]
#				{VARIABLE_OP $looser_gold value 0}                        ### this causes the mysterious variable number
			[/else]
		[/if]
		{CLEAR_VARIABLE looser_gold}
		{CLEAR_VARIABLE warchest_x}
		{CLEAR_VARIABLE warchest_y}
	[/event]
#enddef
