#textdomain wesnoth-Antar


#define ASoR__RECRUIT_PER_TURN SIDE TYPE NUMBER
    # If used, SIDE can recruit exactly NUMBER unit(s)) of type TYPE each turn
	[event]
		name=start
		{VARIABLE type_{TYPE}_count 0}
	[/event]

	[event]
		name=recruit
		first_time_only=no
		[filter]
			side={SIDE}
			type={TYPE}
		[/filter]
		{VARIABLE_OP type_{TYPE}_count add 1}
		[if]
			[variable]
				name=type_{TYPE}_count
				less_than={NUMBER}
			[/variable]
			[else]
				[disallow_recruit]
					side={SIDE}
					type={TYPE}
				[/disallow_recruit]
			[/else]
		[/if]

		# Reset recruiting on next turn
		[event]
			name=new turn

			[allow_recruit]
				side={SIDE}
				type={TYPE}
			[/allow_recruit]
			{VARIABLE_OP type_{TYPE}_count value 0}
		[/event]
	[/event]

	[event]
		name=victory
		{CLEAR_VARIABLE type_{TYPE}_count}
	[/event]
#enddef
