#textdomain wesnoth-Antar


### advance messages Gelphrad

### advance messages Dagor

### advance messages Antar

### name Horseman *Sir* when he advance to a Knight

### limit recruit Sergeant




		################
		### Gelphrad ###
		################

	[event]
		name=post advance
		first_time_only=yes
		[filter]
			type=Gelphrad_Level_0
		[/filter]

		[message]
			speaker="Dagor"
			message= _ "The macic in this boy it is extraordinary strong. I never saw anything like this before."  ###gelphrad is now a initiate
		[/message]
	[/event]

	[event]
		name=post advance
		first_time_only=yes
		[filter]
			type=Gelphrad_Level_1
		[/filter]

		[message]
			speaker="Dagor"
			message= _ "My student, well done."  ###gelphrad is now a mage
		[/message]
		[message]
			speaker="Gelphrad"
			message= _ "Thank you, Master Dagor."
		[/message]
	[/event]

	[event]
		name=post advance
		first_time_only=yes
		[filter]
			type=Gelphrad_Level_2
		[/filter]

		[message]
			speaker="Dagor"
			message= _ "My student, you are doing progress."  ###gelphrad is now a white mage
		[/message]
		[message]
			speaker="Gelphrad"
			message= _ "Thank you, Master Dagor."
		[/message]
	[/event]

	[event]
		name=post advance
		first_time_only=yes
		[filter]
			type=Gelphrad_Level_3
		[/filter]

		[message]
			speaker="Dagor"
			message= _ "My student, you are doing big progress. A great mage you have become."
		[/message]
		[message]
			speaker="Dagor"
			message= _ "You are going to be a great mage. A greater magician than I'll ever be."
		[/message]
		[message]
			speaker="Dagor"
			message= _ "Soon the time will come in which I can teach you anything more."
		[/message]
		[message]
			speaker="Gelphrad"
			message= _ "Thank you, Master Dagor."
		[/message]
	[/event]


		#############
		### Dagor ###
		#############

	[event]
		name=post advance
		first_time_only=yes

		[filter]
			id="Dagor"
		[/filter]

		[message]
			speaker="Dagor"
			message= _ "My forces have increased."
		[/message]
		[message]
			speaker="Gelphrad"
			message= _ "One day I hope, i will be such a great mage as you Master."
		[/message]
	[/event]


		#############
		### Antar ###
		#############

	[event]
		name=post_advance
		[filter]
			id="Antar"
		[/filter]

		[if]
			[have_unit]
				id="Antar"
				type=Antar_Duelist
			[/have_unit]
			[then]
				[message]
					speaker="Dagor"
					message= _ "You make big progress my Lord."
				[/message]
				[message]
					speaker="Dagor"
					message= _ "You will soon be a great leader."
				[/message]

				[message]
					speaker=narrator
					message= _ "Antar now has leadership skills Level 2."
					image=wesnoth-icon.png
				[/message]
			[/then]
		[/if]
	[/event]

	[event]
		name=post_advance
		first_time_only=yes
		[filter]
			id="Antar"
		[/filter]
		[if]
			[have_unit]
				id="Antar"
				type=Antar_Master at Arms
			[/have_unit]
			[then]
				[message]
					speaker="Dagor"
					message= _ "Now you are really grown up."
				[/message]

				[message]
					speaker=narrator
					message= _ "Antar now has leadership skills Level 3."
					image=wesnoth-icon.png
				[/message]
				[message]
					speaker=narrator
					message= _ "This also have an effect on allied units."
					image=wesnoth-icon.png
				[/message]
			[/then]
		[/if] 
	[/event]


		#############################
		### Name every Knight Sir ###
		#############################

	[event]
		name=post advance
		first_time_only=no
		[filter]
			type=Knight
		[/filter]
		[modify_unit]
			[filter]
				id=$unit.id
			[/filter]
			name="Sir " + $unit.name
	   [/modify_unit]
	[/event]


		######################
		### Limit Sergeant ###
		######################

	[event]
		name=recruit
		first_time_only=no
		[filter]
			type=Sergeant
		[/filter]
		{VARIABLE_OP limit_sergeant add 1}
		[if]
			[variable]
				name=limit_sergeant
				numerical_equals=1
			[/variable]
			[then]
				[message]
					speaker=narrator
					message= _ "There are not many men who are trained and capable of leadership. You can only recruit two Sergeants in this campaign."
					image=wesnoth-icon.png
				[/message]
			[/then]
		[/if]
		[if]
			[variable]
				name=limit_sergeant
				greater_than_equal_to=2
			[/variable]
			[then]
				[disallow_recruit]
					type=Sergeant
					side=1
				[/disallow_recruit]
				[message]
					speaker=narrator
					message= _ "This was the last man suitable for leadership; you can no longer recruit Sergeants."
					image=wesnoth-icon.png
				[/message]
			[/then]
		[/if]
	[/event]
	[event]
		name=prestart
		first_time_only=no
		[if]
			[variable]
				name=limit_sergeant
				greater_than_equal_to=2
			[/variable]
			[then]
				[disallow_recruit]
					type=Sergeant
					side=1
				[/disallow_recruit]
			[/then]
		[/if]
	[/event]
